@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
/* ================== header section style =================== */


/* ----------Common section---------- */
* {
    font-family: "Heebo", sans-serif;
}

.btn-common {
    width: 174px;
    height: 55px;
    border-radius: 8px;
    background: #FF5400;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.white-common {
    color: white;
}

.common-font-normal {
    font-size: 16px;
    font-weight: 400;
}

.common-font-weight {
    font-size: 40px;
    font-weight: 800;
}


body {
    max-height: 100%;
    max-width: 100%;


}

/* -----------banner section--------- */
.banner-container {
    margin: 150px auto;
    width: fit-content;

}

.banner-entire {

    background-image: url('../B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 100%;
    /* height: 500px; */
    border-radius: 16px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 64px;
    color: white;
    margin-top: 100px;
    margin-bottom: 20px;
}

.statement-container {
    width: 600px;
}

.banner-statement {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: white;
    text-align: center;
    margin-top: 0px;
}

.input-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: fit-content;
    margin: 24px auto;
}

.spread {
    width: 175px;
    height: 52px;
    margin: 24px;
    border-radius: 8px;
    border: none;
}



/* =============================== Main Section style===================== */
/* -----------first section----------- */
.popular-all-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;

}

.popular-tours-container {
    width: 40%;
    margin-top: -25px;
}

.btn-style {
    margin-top: 30px;
}

div>ul>li {
    margin-top: 20px;
}

/* --------------second section---------- */
#destination {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.destination-descrip {
    width: 35%;
    text-align: center;
}

#two-equal-image {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}

#three-img {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

#two-unequal-img {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

/* ------------ third section ----------- */
.choose-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.choose-descrip {
    width: 35%;
    text-align: center;
}

.card-style {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    padding: 32px;
}

.two-card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.one-card {
    margin: 25px auto;
}

/* ------------- last section ------------ */
#newslater-box {
    width: 472px;
    height: 420px;
    border: 4px solid orange;
    border-radius: 16px;
    padding-left: 40px;
}

.newslater {
    font-size: 32px;
    font-weight: 800;
}

#input-style {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    gap: 16px;
}

.input-spread,
.subscribe {
    width: 393px;
    height: 52px;
    border-radius: 8px;
}

.news-img {
    width: 672px;
    height: 432px;
}

.box-img-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    position: relative;
    margin-top: 150px;
}

.save-persantage {
    width: 324px;
    height: 120px;
    color: #FFF;
    transform: rotate(-20deg);
    background-color: #FF5400;
    border-radius: 16px;
    position: absolute;
    bottom: 14%;
    left: 63%;
}

div > ol > li{
    list-style: none;
    text-align: center;
}

/* ======================== Footer section style ====================== */
footer{
    max-width: 100%;
    background: rgba(19, 19, 24, 0.05);
}

.footer-title{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    padding-top: 100px;
}
.mission{
    font-size: 32px;
    font-weight: 800;
}
#traveling{
    color: #FF5400;
}

#footer-descrip{
    width: 37%;
    text-align: center;
   
}
.align-center-footer{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.logo-gap{
    margin: 20px;
    padding-bottom: 40px;
}

.margin-bottom{
    padding-bottom: 150px;
    padding-top: 40px;
}

hr{
    width: 872px; height: 1px; background: rgba(19, 19, 24, 0.10);
}