@media screen and (max-width: 600px) {
    body{
        max-width: 100%;
        align-items: center;
        /* margin-left: 30%; */
    }
    .input-text {
        display: flex;
        grid-template-columns: repeat(2, 2fr);
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        width: auto;
        margin: 24px auto;
    }
    .spread {
        width: auto;
        height: auto;
        margin: auto;
        border-radius: 8px;
        border: none;
    }

    .banner-entire{
        width: fit-content;
    }

    .popular-all-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;

        justify-content: center;
    
    }
    .popular-tours-container {
        width: 100%;
        margin-top: -25px;
        text-align: center;
        align-items: center;
    }
    .btn-style {
        margin-bottom: 50px;
    }
    #destination {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-top: 700px;
    }
    .destination-descrip {
        width: 100%;
        text-align: center;
    }
    #two-equal-image {
        display: grid;
        justify-content: center;
        gap: 25px;
        margin-top: 50px;
    }
    #three-img {
        display: grid;
        justify-content: center;
        gap: 25px;
        margin-top: 25px;
    }
    #two-unequal-img {
        display: grid;
        justify-content: center;
        gap: 25px;
        margin-top: 25px;
    }
    .choose-us {
        width: 100%;
        display: grid;
        align-items: center;
        margin-top: 100px;
    }
    .choose-descrip {
        width: 100%;
        text-align: center;
    }
    .two-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }
    .box-img-container {
        display: flex;
        flex-direction: column;
        
    }
    .save-persantage {
        width:  324px;
        height: 120px;
        color: #FFF;
        transform: rotate(-20deg);
        background-color: #FF5400;
        border-radius: 16px;
        position: absolute;
        bottom: 14%;
        left: 63%;
    }
    footer{
        width: 100%;
    }
    #footer-descrip{
        width: auto;
        text-align: center;
       
    }
    hr{
        width: auto;
    }
}